[submodule "lib/lib/intelflow"]
	path = lib/lib/intelflow
	url = https://github.com/radicalxdev/intelflow.git
[submodule "lib/intelflow"]
	path = lib/intelflow
	url = https://github.com/radicalxdev/intelflow.git
